<script>
	import NumInput from './NumInput.svelte';
	import delimiter from './delimiterPlug.js';

	const binaryDelimiter = delimiter({
		"regex": /.{1,4}/gm,
		"spacer": " "
	});

	const hexaDelimiter = delimiter({
		"regex": /.{1,2}/gm,
		"spacer": " "
	});
	/*
		ранее хранил значения в объекте, 
		но обновления для элементов приходили с запозданиями
		let variables = {hex: 'fe', bin: '1010'}
	*/
	let bin = '10101';
	let hex = 'fe';
	let dec = '10';

	const bindec = binary => binary
		.split('')
		.reverse()
		.reduce((acc, bin, exp) => bin === '0' ? acc : acc + Math.pow(2, exp), 0);
	const hexdec = hexadecimal => {
		try {
			return BigInt('0x' + (hexadecimal ? hexadecimal.toUpperCase() : "0") ).toString(10);
		} catch (error) {
			console.error('hexdec error', error);
			console.log('hexadecimal',hexadecimal);
		}
	}

	const binaryUpdated = (event) => {
		try {
			dec = bindec(bin);
		} catch (error) {
			console.error('binaryUpdated ERROR', error);
		}
	};

	const decUpdated = (event) => {
		let intbase = BigInt(dec);
		let lastDec = dec;
		bin = (intbase).toString(2);
		hex = (intbase).toString(16);
		window.setTimeout(function(){
			dec = lastDec ? lastDec : 0;
		},0);
	}; 

	const hexUpdated = (event) => {
		try {
			dec = hexdec(hex);
		} catch (error) {
			console.error('hexUpdated ERROR', error);
		}
	};
	$: showDec = dec;

</script>

<main>
	<section class="container">
		<h5>
			Binary format 1010 0001
		</h5>
		<NumInput
			pattern={/[10]/gm}
			delimiter={ binaryDelimiter }
			on:updated="{ binaryUpdated }" 
			bind:dataValue={ bin }
			options={ {
				"placeholder": "1100 0001",
				"title": "binary input",
				"type": "text"
			} }
			/>
		<!-- <textarea
			disabled
			class="result__container"
			cols="30" rows="10"
		>{ binaryDelimiter(bin) }</textarea> -->
		<code class="result__container">
			{ binaryDelimiter(bin) }
		</code>
	</section>
	<section class="container">
		<h5>
			Decimal
		</h5>
		<NumInput
			bind:dataValue={ dec }
			on:updated={ decUpdated }
			options={ {
				"placeholder": "12345",
				"title": "decimal input",
				"type": "text"
			} }
		/>
		<code class="result__container">
			{ showDec }
		</code>
	</section>
	<section class="container">
		<h5>
			Hexadecimal
		</h5>
		<NumInput
			pattern={/([\dA-Fa-f])/gm}
			delimiter={ hexaDelimiter }
			bind:dataValue={ hex }
			on:updated={ hexUpdated }
			options={ {
				"placeholder": "ef fe",
				"title": "hex input",
				"type": "text"
			} }
		/>
		<code class="result__container">
			{ hexaDelimiter(hex) }
		</code>
	</section>
</main>
<footer>
	<a target="_blank" href="https://bitbucket.org/timenty/">
		author @timenty
	</a>
</footer>

<style>
	:global(h5) {
		margin-top: 6px;
		margin-bottom: 3px;
	}
	:global(body) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	:global(html) {
		background: #19191b;
	}
	main {
		text-align: center;
		padding: 1em;
		max-width: none;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	h5 {
		color: greenyellow;
	}
	@media (max-width: 640px) {
		main {
			max-width: 240px;
			justify-content: center;
		}
		.container {
			margin: 5px;
		}
	}
	.result__container {
		word-break: break-word;
		text-align: left;
		max-width: 220px;
		color: aquamarine;
		align-content: center;
		overflow: auto;
		background: inherit;
		outline: none;
		min-width: 100%;
		height: 80px;
		max-height: 100px;
		margin-top: 10px;
		transition: 0.15s;
		border: 1px solid #E91E63;
		padding: 6px 8px;
		box-shadow: 0px 0px 6px #e91e63b8;
	}
	.result__container:focus {
		box-shadow: 0px 0px 10px #E91E63;
	}
	.container {
		display: flex;
		flex-direction: column;
		width: 230px;
		margin: 5px 20px;
	}
	footer {
		padding: 1em;
		text-align: right;
	}
	footer a{
		text-shadow: 0 0 13px #E91E63;
		color: #CDDC39;
		font-size: 15px;
	}
</style>