<svelte:options immutable />
<script>
	import delimiterPlugin from "./delimiterPlug.js";
	import { afterUpdate } from "svelte";
	import { createEventDispatcher } from "svelte";
	import inputMask from "./inputMask.js";

	export let dataValue = "0000";
	export let pattern = /\d/gm;
	export let delimiter = (val) => val;
	export let options = {
		"placeholder": "",
		"title": "",
		"type": "text"
	}

	const dispatch = createEventDispatcher();
	afterUpdate(() => {
		dispatch("updated");
	});

	$: showValue = delimiter(dataValue);

	// * Гля шо накодил))))
	const mask = inputMask(
		{
			"pattern": pattern,
			"value": dataValue
		}).onChange(data => dataValue = data.value)
		.onGetDefault(() => showValue);
</script>

<div class="inputwrap">
	<input
		class="c_input"
		on:input={ mask }
		value={ showValue }
		type={ options.type }
		placeholder={ options.placeholder }
		title={ options.title } />
</div>

<style>
	:global(.c_input){
		color: greenyellow;
		background: #19191b;
		border-color: #19191b;
		outline: none;
		max-width: 232px;
		margin: 0;
	}
	:global(.inputwrap) {
		display: inline-block;
		position: relative;
		padding-left: 7px;
	}
	:global(.inputwrap::after) {
		content: "";
		display: block;
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		border-left: 7px solid transparent;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		animation: blink 1s infinite;
		animation-delay: 0.5s;
	}
	@keyframes blink {
		0%,
		100% {
			border-left-color: transparent;
		}
		50% {
			border-left-color: greenyellow;
		}
	}
</style>